<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>맑은준범 - 게시판</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/boardList.css}">
</head>
<body onload="boardList()">

<th:block th:include="@{/header}"></th:block>

<div class="container">
    <div class="table-header">
        <h2>게시판 목록</h2>
        <a href="/boardWrite" class="write-btn">글쓰기</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody id="boardBody">
        </tbody>
    </table>
    
    <div id="pageBar" class="pagination"></div>
</div>

</body>
<script>
	var xhr;
	function getXHR(){
		if(window.ActiveXObject){
			return new ActiveXObject('Msxml2.XMLHTTP');
		}else if(window.XMLHttpRequest){
			return new XMLHttpRequest();
		}else{
			return null;
		}
	}
	function boardList(cp=1){
		
		xhr = getXHR();
		xhr.onreadystatechange=boardListResult;
		xhr.open('GET', '/api/board/list?cp='+cp, true);
		xhr.send(null);
		
	}
	function boardListResult(){
		if(xhr.readyState == 4){
			if(xhr.status == 200){
				var data = JSON.parse(xhr.responseText);
				var boardList = data.boardList;
				var pageBar = data.pageBar
				
				var tbody = document.getElementById('boardBody');
				tbody.innerHTML = '';
				
				for(let i = 0; i < boardList.length; i++){
					var board = boardList[i];
					var tr = document.createElement('tr');
					
					var contentUrl = '/boardContent/' + board.board_idx;
					
					tr.innerHTML = 
				        '<td>' + board.board_idx + '</td>' +
				        '<td class="board-title" onclick="window.location.href=\'' + contentUrl + '\'">' + board.title + '</td>' +
				        '<td>' + board.writer + '</td>' +
				        '<td>' + board.writedate.substring(0,10) + '</td>' +
				        '<td>' + board.readnum + '</td>';

				    // tbody에 추가
				    document.getElementById('boardBody').appendChild(tr);
				}
				// 페이징 영역
				document.getElementById('pageBar').innerHTML = pageBar;
			
			}else{
				alert('게시판 데이터를 불러오지 못했습니다.');
			}
		}
	}
</script>
</html>